body {
    background-color: #f3f8ff;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
}

img {
    height: 150px;
    width: 150px;
}

#cart {
    text-align: center;
    width: auto !important;
}

.product,
#cart {
    width: 40%;
    margin: 20px 30px;
    border-radius: 10px;
    border: 3px solid #5a5959;
    background-color: #7d7c7c99;
    padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}




input {
    color: #312929;
    background-color: transparent;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    margin: 10px 1px;
    border: 2px solid #5a5959;
    border-radius: 5px;
    font-size: medium;
    outline: none;
}

input::placeholder {
    color: #5a5959;
}

input.qtyplus {
    width: 50px;
    font-size: large;
}

input.qtyminus {
    width: 50px;
    font-size: large;
}

button {
    width: 70%;
    padding: 10px;
    color: white;
    background-color: #5a5959;
    border: 3px solid #5a5959;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
    font-weight: bolder;
}

button:hover {
    background-color: transparent;
    color: #313030;
}

.row {
    margin: auto;
    text-align: center;
    display: flex;
}

.product:hover img {
    transform: scale(1.05);
}

.half {
    width: 70%;
}

h2 {

    text-decoration: underline;
    color: #ffffff;
    margin: 20px 0 15px
}

p {
    color: black;
    width: fit-content;
    margin: 10px auto;
    padding: 5px 15px;
    font-weight: bolder;
    border-radius: 10px;
    background-color: #fff0f5cc;
}

.otherHalf {
    width: 27%;
}

.back-button {
    text-align: center;
    margin: 50px auto;
    width: 100%;
}

.back-button a {
    border: 4px solid black;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 8px 25px;
    font-weight: 900;
    border-radius: 17px;
}

.back-button a:hover {
    background-color: transparent;
    color: black;

}

li {
    list-style: none;
    font-weight: bold;
    font-size: large;
}

ul {
    padding: 0;
}


table {
    width: 100%;
}

td:first-child {
    text-align: left;
    width: 50%;
}

td:last-child {
    text-align: right;
}
#checkoutForm h2{
    text-align: left;
    color: black;
}

#checkoutForm{
    margin: 50px 30px;
    border-radius: 10px;
    border: 3px solid #5a5959;
    background-color: #7d7c7c4d;
    padding: 10px;
    text-align: center;
    
}
#checkoutForm input{
   width: 45%;
   
}

#checkoutForm input:nth-child(4){
    width: 90%;
}